################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreWeb/.vs/BookStoreWeb/v17
/BookStoreWeb/.vs/BookStoreWeb/config
/BookStoreWeb/BookStoreWeb/bin/Debug/netcoreapp3.1
/BookStoreWeb/BookStoreWeb/obj
/BookStoreWeb/.vs/BookStoreWeb/DesignTimeBuild
/BookStoreWeb/BookStoreWeb/BookStoreWeb.csproj.user
