@{
    ViewData["Title"] = "Contact Us";
}

@section breadcrumb{
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb text-bg-light">
        @*        <li class="breadcrumb-item"><a href="#">Home</a></li>*@
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
}
<h1>home > Contact Us</h1>
