@{
    ViewData["Title"] = "Index";
}

@section breadcrumb{
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb text-bg-light">
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
}

<div class="p-5 bg-light rounded-3 text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="fs-4 text-muted">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-outline-primary btn-lg" type="button">Example button</button>
    </div>
</div>


<div class="container">
    <h3 class="text-center display-5 fw-bold py-3">Newest Books</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <vc:top-books top="3">

        </vc:top-books>
    </div>

    @if (_iConfiguration.GetValue<bool>("TestAlertInClientSideCode:NewBookAlert"))
    {
        <div class="alert alert-info m-4" role="alert">
            @(_iConfiguration.GetValue<string>("TestAlertInClientSideCode:BookAlert"))
        </div>
    }

</div>





