@model IEnumerable<BookVM>
@{
    ViewData["Title"] = "All Books";
}

@section breadcrumb{
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb text-bg-light">
        <li class="breadcrumb-item">Book</li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
}

<div class="container">
    <h3 class="text-center display-5 fw-bold py-3">@ViewData["Title"]</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        @if (Model.Any())
        {
            foreach (var book in Model)
            {
                <div class="col">
                  <partial name="_BookThumbnailPV" model="book"></partial>
                </div>
            }
        }
        else
        {
            <h1 class="col-md-12 text-center text-danger display-2 fw-bold py-3">No Books founded.</h1>
        }
    </div>
</div>